<div class="container-home">
    <nav class="menu-home">
        <img src="" alt="">
        <button>btn-1 menu</button>
    </nav>
    <section class="section1-home">
        <img src="" alt="" class='banner-home'>
    </section>
</div>